<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">

                <h4 class="alert-headring">
                    <%= err.message%>
                </h4>
                <p>spacing with an alert</p>
                <hr>
                <% if(process.env.NODE_ENV !=="production" ) { %>
                    <p>
                        <%=err.stack%>
                    </p>
                    <% } %>
            </div>
        </div>


    </div>